@import "~bulma/bulma";

body {
	width: 100%;
	font-family: "Roboto", sans-serif;
}
.navbar-burger {
	color: #fff;
}

#app {
	margin: 0;
	width: 100vw;
	max-width: 100vw;
}

.outsideOfMonth > .cv-day-number {
	visibility: hidden;
}
.calendar-parent {
	width: 100vw;
	height: 60vh;
}
.future {
	background: #eee;
}

.d2018-12-01 {
	background: #82b8db;
}

.cv-event {
	background-color: #fff !important;
	color: #000;
	cursor: pointer;
	width: auto !important;
	border-radius: 20% !important;
	padding: 10px !important;
	border: 1px solid #545454 !important;
}

.cv-day-number {
	display: none;
}

.cv-event:hover {
	background-color: #ff365d !important;
	color: #fff;
}
.cv-day {
	text-align: center;
}
.cv-day-number {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.cv-event.offset0 {
	left: calc((50% / 7) - 1em) !important;
}

.cv-event.offset1 {
	left: calc((150% / 7) - 1em) !important;
}

.cv-event.offset2 {
	left: calc((250% / 7) - 1em) !important;
}

.cv-event.offset3 {
	left: calc((350% / 7) - 1em) !important;
}

.cv-event.offset4 {
	left: calc((450% / 7) - 1em) !important;
}

.cv-event.offset5 {
	left: calc((550% / 7) - 1em) !important;
}

.cv-event.offset6 {
	left: calc((650% / 7) - 1em) !important;
}
